* {
    --dark: #111;
    --mid: #4b565c;
    --light: #f5f4f4;
    --veryLight: #e3e3e3;
    --primary: #333;
    --secondary: #ff0066;
    --secondaryFade: #ff006622;
    --highlight: #01cc21;
    --highlightFade: #01cc2122;
    --overlay: #00000099;
    --danger: #ff0066;
    --warning: #f80;
    --success: #0f9123;

    font-family: "Lucida Console", Monaco, monospace;
    color: var(--primary);
    max-width: 100%;
    margin: auto;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background: var(--light);
}
img {
    max-width: 100%;
}

/* Type */
body {
    font-size: 100%;
    line-height: 1.25;
}
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
    font-size: 3.11538em;
    padding: 1.44305em 0;
}
h2 {
    font-size: 2.61538em;
    padding: 1.30936em 0;
}
h3 {
    font-size: 1.30769em;
    padding: 1.28686em 0;
}

i {
    border: solid var(--primary);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

p {
    padding: 0.2em 0 0.4em 0;
}
pre {
  background: transparent;
  border: none;
  font-family: monospace, monospace;
}

/* Layout */
.body {
    z-index: 1;
    position: relative;
    display: grid;
    grid-gap: 1.23rem;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    justify-items: start;
    align-content: start;
    min-height: 100vh;
}
.wrapper {
    padding: 1.5rem;
}

/* header */
.header {
    grid-area: header;
    background: var(--dark);
    width: 100%;
    height: 100%;
}
.header a {
    text-decoration: none;
}
.logo {
  width: 6em;
  padding: 0;
  margin: 0;
  color: var(--mid);
}

/* Main */
.main {
    grid-area: main;
    width: 100%;
    justify-self: start;
    display: flex;
    align-content: center;
    height: 100%;
}

/* Form */
.create_load_balancer {
    width: 46rem;
}
.fieldset {
    border: none;
    box-shadow: 0 3px 6px -3px var(--mid);
    margin: 0 0 1.2rem 0;
    padding: 0 1rem 0.8rem;
}
.label {
    display: block;
    margin: 0.5rem 0 0.8rem;
}
.msg {
    margin: 0 0 0.4rem 0;
    text-indent: 1.5rem;
    background: var(--veryLight);
    line-height: 2rem;
}
.error {
    box-shadow: 0 2px 0 var(--danger);
    color: var(--danger);
}
.warning {
    box-shadow: 0 2px 0 var(--warning);
    color: var(--warning);
}
.success {
    color: var(--success);
}
.provider {
    width: 100%;
}
.provider,
.api_key,
.ssh_key_name,
.lb_name,
.server_name {
    margin-bottom: 0.4rem;
    padding: 0.4rem 0;
    border: none;
    border-bottom: 2px solid var(--mid);
}
.api_key,
.ssh_key_name,
.lb_name,
.server_name {
    text-indent: 0.3rem;
}
.api_key:focus,
.ssh_key_name:focus,
.lb_name:focus,
.server_name:focus {
    border-bottom: 2px solid var(--success);
}

.api_key,
.lb_name,
.server_name,
.ssh_key_name {
    width: 100%;
}

.test_creds_wrapper {
    display: flex;
    justify-content: space-between;
}

.server_name {
    width: calc(100% - 3rem);
}

.server_list {
    padding: 0.8rem 0;
    margin: 0;
    width: 100%;
}
.server_list li {
    list-style: none;
    padding: 0.3rem 0;
    width: 100%;
    height: 1.4rem;
    line-height: 1.4rem;
}

.server_btn {
    float: right;
    text-indent: -100rem;
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 1.2em;
    height: 1.2em;
	border-radius: 50%;
	background: transparent;
	font: inherit;
	cursor: pointer;
    text-shadow: 1px 1px 0px #2f6627;
}
.server_btn:active {
    outline: solid 0 transparent;
}
	
.server_btn:before,
.server_btn:after {
    position: absolute;
    top: 15%;
    left: calc(50% - .0625em);
    width: .125em;
    height: 70%;
    border-radius: .125em;
    background: currentcolor;
    content: ''
}

.add_server {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
	color: var(--highlight);
}
.add_server:active {
    box-shadow: 0 0 0 2px var(--highlight);
}
.add_server:hover {
    background: var(--highlightFade);
}
.add_server:after { transform: rotate(-90deg); }

.remove_server {
	color: var(--secondary);
}
.remove_server:focus {
    box-shadow: 0 0 0 2px var(--secondary);
}
.remove_server:hover {
    background: var(--secondaryFade);
}
.remove_server:before,
.remove_server:after {
    transform: rotate(45deg);
}
.remove_server:after {
    transform: rotate(-45deg);
}

.ctrl_btns {
    margin-bottom: 1.2rem;
    display: flex;
}

.btns {
    display: flex;
    justify-content: space-between;
}
  
.btn {
    position: relative;
    border: none;
    margin: 0;
    padding: 0 1.4rem;
    height: 3rem;
    line-height: 3rem;
}
.btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
.create_btn {
    background: var(--success);
    color: var(--light);
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: absolute;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    content: '';
    z-index: 1;
    top: 0;
    left: 0;
    background: #ffffffaa;
    width: 100%;
    height: 100%;
}
.loader span:after {
    z-index: 2;
    animation: 1.5s linear infinite spinner;
    border: solid 5px #9f9fa0;
    border-bottom-color: #505050;
    border-radius: 50%;
    content: '';
    height: 1rem;
    width: 1rem;
    will-change: transform;
}

/* Footer */
.footer {
    background: var(--dark);
    grid-area: footer;
    width: 100%;
    height: 100%;
}
.footer .wrapper {
    color: var(--mid);
}
